<h2>'<%= @cookbook.cookbook_name %>'</h2>
~ <%= @user.username %>'s cookbooks ~
<br><br>

<% if @error_message %>
<div style="color: red;">
  <%= @error_message %>
</div>
<% end %>

<br>
<h4>Here are your notes for '<%= @cookbook.cookbook_name %>':</h4>

<% @cookbook.notes.each do |note| %>
  <% if note.user_id == session[:id] %>
    <li><%= note.content %></li>

    <form action="/notes/<%= note.id %>/edit" method="get">
      <input type="submit" value="Edit This Note">
    </form>

    <form action="/notes/<%= note.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete This Note">
    </form>
    <br>
    <% end %>
  <% end %>
<br><br>
<form action="/notes/new" method="get">
  <input type="hidden" name="cookbook_id" value="<%= @cookbook.id %>">
  <input type="submit" value="Add a New Note">
</form>
<br><br>
<form action="/cookbooks/<%= @cookbook.id %>/edit" method="get">
  <input type="submit" value="Edit This Cookbook">
</form>
<form action="/cookbooks/<%= @cookbook.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Cookbook">
</form>
<br>
<form action="/cookbooks" method="get">
  <input type="submit" value="Back to Cookbooks List">
</form>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
